*{
    margin: 0;
    padding: 0;
}
.bro1{
    background-image: url(image.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    position: relative;
}
.bro2{
    color: greenyellow;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.bro2 h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(167, 12, 12);
}
.bro2 p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(167, 12, 97);
}
.bro2 .bro3 input{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;

}
.bro2 .bro3 input{
    hover{
        background-color: #570303;
        border-color: #999999;
    }
}
.bro2 .bro3 button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #570303;
    color: white;
    transition: 0.3s ease;
}
.bro2 .bro3 button:hover{
    background-color: transparent;
}   